body {
    font-family: 'Cormorant Garamond';
    font-size: 22px;
}

.container-fluid {
    background: #e9cb1f;
    border-radius: 10px;
    padding: 40px;
}

h1 {
    font-style: italic;
    font-size: 70px;
    text-align: center;
    margin-bottom: 10px;
}

h2 {
    font-size: 70px;
    text-align: center;
    margin-left: 150px;
}

h3 {
    font-size: 70px;
    text-align: left;
    margin-bottom: 70px;
}

p {
    font-size: 30px;
}

.my-icons {
font-size: 75px;
text-align: center;
margin-bottom: 20px;
}

.nav-item, .nav-item-active {
font-size: 35px;
}

.navbar-brand {
    font-size: 35px;
    }

.contact-icon {
    font-size: 85px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
    }
.sidebar {
    margin-left: 125px;
}

.thumbnail {
    margin-bottom: 25px;
    width: 700px;
    height: 700px;
}